.ios, .md, .wp {

  page-finalizado {

    .content {
      color: black;
    }

    .month {
      font-size: 2.8rem;
      color: red;
    }

    .day {
      font-size: 2.6rem;
      color: black;
    }
    .time {
      font-size: 1.6rem;
      color: black;
    }

    .fab-container {
      position: relative;
    }

    .event-name {
      padding-top: 10px;
    }

    .event-location {
      padding-top: 6px;
    }

  }

}
