<ion-header>
  <ion-navbar>
    <ion-title>Servicios asignados</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
     pullingIcon="arrow-dropdown"
     pullingText="Desplace hacia abajo para refrescar"
     refreshingSpinner="circles"
     refreshingText="Refrescando...">
   </ion-refresher-content>
  </ion-refresher>

  <div *ngIf = "trips?.length == 0; else elsetag">
    <ion-card>
      <img style=" width:auto;
              height:auto;
              margin-left: auto;
              margin-right: auto;
              width: 80%;
              "
      src="../../assets/imgs/reload.png"/>
      <ion-card-content>
        <ion-card-title>
          No existen servicios asignados.
          </ion-card-title>
        <p>
          Desplace hacia abajo para recargar o intentelo más tarde.
        </p>
      </ion-card-content>
    </ion-card>
  </div>
  <ng-template #elsetag>
    <ion-card *ngFor="let trip of trips; let i = index">
      <img src="../../assets/imgs/advance-card-map-madison.png">
      <ion-card-content>
        <ion-row no-padding>
          <ion-col col-3 text-center>
            <p class="month">
              {{ trip.scheduler_trip_dt | date: 'MMM'}}
            </p>
            <p class="day">
              {{ trip.scheduler_trip_dt | date: 'dd'}}
            </p>
            <p class="time">{{trip.scheduler_trip_dt | date: 'H:mm' }} </p>
          </ion-col>
          <ion-col class="event-name">
              <p>{{ trip.pickup_address }}</p>
              <p>{{ trip.passenger.first_name }} {{trip.passenger.last_name}}</p>
              <p>{{ trip.customer.name }}
              <p>{{trip.destination_address}}</p>
              <ion-note>{{trip.mobile_phone}}</ion-note>
              <button ion-button icon-start clear item-end (click)="onLoadTrip(trip, i)">
                <ion-icon name="navigate"></ion-icon>
                Detalles
              </button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ng-template>



</ion-content>
