
<ion-header>

  <ion-navbar>
    <ion-title>Trip Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
        <ion-col text-left>
          <div class="subtitle"><strong>Pasajero</strong></div>
        </ion-col>
        <ion-col text-left>
          <div class="subtitle">{{trip._id}}{{trip.passenger.first_name}} {{trip.passenger.last_name}}</div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col text-left>
          <div class="subtitle"><strong>Convenio</strong></div>
        </ion-col>
        <ion-col text-left>
          <div class="subtitle">{{ trip.customer.name }}</div>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-left>
        <div class="subtitle"><strong>Origen</strong></div>
      </ion-col>
      <ion-col text-left>
        <div class="subtitle">{{ trip.pickup_address }}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-left>
        <div class="subtitle"><strong>Destino</strong></div>
      </ion-col>
      <ion-col text-left>
        <div class="subtitle">{{ trip.destination_address }}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-left>
        <div class="subtitle"><strong>Teléfono 1</strong></div>
      </ion-col>
      <ion-col text-left>
        <div class="subtitle">{{ trip.mobile_phone }}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-left>
        <div class="subtitle"><strong>Teléfono 2</strong></div>
      </ion-col>
      <ion-col text-left>
        <div class="subtitle">{{ trip.phone }}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-left>
        <div class="subtitle"><strong>Fecha</strong></div>
      </ion-col>
      <ion-col text-left>
        <div class="subtitle">{{ trip.scheduler_trip_dt }}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-left>
        <div class="subtitle"><strong>Forma de Pago</strong></div>
      </ion-col>
      <ion-col text-left>
        <div class="subtitle">{{ trip.payment_term }}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-left>
        <div class="subtitle"><strong>Estado Actual</strong></div>
      </ion-col>
      <ion-col text-left>
        <div class="subtitle">{{ trip.current_status }}</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col *ngIf="trip.current_status == 'assignation' ">
        <button
          ion-button
          outline
          block
          (click)="setTripDriverInTransit()">Hacia el pasajero</button>
      </ion-col>
      <ion-col *ngIf="trip.current_status == 'transistp'">
        <button
          ion-button
          outline
          block
          (click)="setTripInProgress()"
          color="danger">Hacia el destino</button>
      </ion-col>
      <ion-col *ngIf="trip.current_status == 'transistd'">
        <button
          ion-button
          outline
          block
          (click)="setTripFinished()"
          color="danger">Finalizado</button>
      </ion-col>
      <ion-col *ngIf="trip.current_status == 'finished'">
        <button
          ion-button
          outline
          block
          (click)="onDeleteRecipe()"
          color="danger">Completar</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
